.page-header {
  background-color: var(--color-primary);
  color: #fff;
  padding: 6rem 0 4rem;
}
.page-header h1 {
  color: #fff;
  margin-bottom: 0.5rem;
}
.subtitle {
  font-family: var(--font-heading);
  font-size: 1.25rem;
  color: #ffffffe6;
}
.text-center {
  text-align: center;
}
